// IMPORTING COLORS
@use 'colors' as color;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
//ADJUSTING FONT SIZE FOR THE WHOLE SITE
:root {
	font-size: 18px;
}

// ADJUSTING OTHER STYLES
body {
	max-width: 100%;
	font-family: 'Outfit', sans-serif;
	background-color: color.$main-bg;
}

main {
	max-width: 100%;
}

// SR ONLY CLASS
.sr-only {
	position: absolute;
	height: 1px;
	width: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	margin: -1px;
	padding: 0;
	white-space: nowrap;
	border: 0;
	overflow: hidden;
}

// CARD
.card {
	display: flex;
	align-items: center;
	height: 100vh;
	padding: 1rem;

	.icon {
		margin-right: 0.4rem;
	}

	.NFT-image {
		width: 100%;
		border-radius: 1rem;
	}
	// CARD BODY
	.card-body {
		padding: 1.4rem;
		background-color: color.$card-bg;
		border-radius: 1rem;
		box-shadow: 0 1rem 0.5rem 1.5rem rgb(12, 21, 37);
	}
	// CARD TITLE
	.card-title {
		color: color.$white;
		font-weight: bold;
		margin-top: 1rem;
	}
	// CARD TEXT
	.card-text {
		color: color.$primary;
		font-weight: lighter;
		margin: 1rem 0;
	}
	// CARD INFO
	.card-info {
		display: flex;
		justify-content: space-between;
		padding-bottom: 1rem;
		border-bottom: 1px color.$line solid;
		// CURRENCY
		.currency-container {
			display: flex;
			align-items: center;
			color: color.$secondary;
		}
	}
	// TIME LEFT
	.time-left-container {
		display: flex;
		align-items: center;
		color: color.$primary;
	}
}

// CARD FOOTER
.card-footer {
	display: flex;
	align-items: center;
	padding-top: 1rem;

	.avatar {
		height: 2rem;
		margin-right: 1rem;
		border: 1px solid color.$white;
		border-radius: 50%;
	}

	.author {
		color: color.$primary;

		a {
			text-decoration: none;
			color: color.$white;
			font-weight: lighter;
		}
	}
}

// ATTRIBUTION
.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
